<div class="container">
  <div class="row">
    {{#each producto}}
      <div class="col-lg-4 col-md-6 justify-content-center d-flex">
        <div class="card shadow-lg my-5" style="width: 18rem;">
          <img src={{thumbnail}} class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Producto: {{title}}</h5>
            <p class="card-text">Categoria: {{category}}</p>
            <p class="card-text">Descripcion: {{description}}</p>
            <p class="card-text">Precio: {{price}}</p>
            <p class="card-text">Stock: {{stock}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>