<div>
  <p>Producto: {{title}}</p>
  <ul>
    <li>Precio: {{price}}</li>
    <li>Categoria: {{category}}</li>
    <li>Descripcion: {{description}}</li>
    <li>Stock: {{stock}}</li>
    <li>Estado: {{state}}</li>
    <li>Product thumbnail: {{thumbnail}}</li>
    <li>Code: {{code}}</li>
    <li>Id: {{id}}</li>
  </ul>
</div>